* {
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;  
    background-color: #f4f4f4;
}

.loginInputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 35em;
    gap: 2em; 
    padding: 2em;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.login{
    font-size: 1.5em;
    font-weight: 400px;
}

.loginInputsContainer input {
    width: 100%;
    padding: 5px;
    margin-top: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
.loginInputsContainer button {
    width: 40%;
    padding: 5px;
    margin-top: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    font-size: 0.85em;
    background-color: #1a0f0f;
    font-weight: 500px;
}

.signUpOptionContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
}

.signUpOptionContainer a{
    margin-left: 0.2em;
}

.warningMessage {
    font-size: 0.9em;
    display: none;
    color: rgb(155, 155, 155);
}

form {
    width: 22em;
}

.title {
    margin: 2em;
}

.bottomRight {
    display: flex;
    justify-content: end;
    width: 100%;
}