.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;  
    background-color: #f4f4f4;
}

.loginInputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 25em;
    gap: 2em; 
    padding: 2em;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.login{
    font-size: 1.5em;
    font-weight: 400px;
}

.loginInputsContainer input {
    width: 100%;
    padding: 5px;
    margin-top: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
.loginInputsContainer button {
    width: 40%;
    padding: 5px;
    margin-top: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    font-size: 0.85em;
    background-color: #ccc;
    font-weight: 500px;
}

.signUpOptionContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}
.signUpOptionContainer a{
    margin-left: 0.2em;
}